<p>users works!</p>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users index as i; even as isEven" [class.rowEven]="isEven">
        <!-- <th scope="row">{{user.id}}</th> -->
        <th scope="row">{{i+1}}</th>
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
      </tr>
    </tbody>
  </table>