<h2>{{title}}</h2>

<!------------------------------------------------ *ngIf --------------------------------------------------------->
<!-- <div *ngIf="courses.length>0;then coursesList else noCourses"></div>
<ng-template #coursesList>
<ul>
    <li *ngFor="let course of courses">{{course}}</li>
</ul>
</ng-template>
<ng-template #noCourses>
    No courses yet.
</ng-template> -->

<!------------------------------------------------ Hidden property --------------------------------------------------------->

<!-- <div [hidden]="courses.length==0">
    <ul>
        <li *ngFor="let course of courses">{{course}}</li>
    </ul>
</div>
<div [hidden]="courses.length>0">
    No courses yet.
</div> -->

<!----------------------------- Switch Case : *ngSwitchCase --------------------------------->
<div class="container">
     <ul class="nav nav-tabs">
        <li class="nav-item">
            <a (click)="viewMode='list'" class="nav-link" [class.active]="viewMode=='list'">List
                View
            </a>
        </li>
        <li class="nav-item">
            <a (click)="viewMode='map'" class="nav-link" [class.active]="viewMode=='map'">
                Map View
            </a>
        </li>
    </ul>
    <div [ngSwitch]="viewMode">
        <div *ngSwitchCase="'list'">
            List View
        </div>
        <div *ngSwitchCase="'map'">
            Map View
        </div>
        <div *ngDefaultCase>
            Otherwise
        </div>
    </div>
</div>

<!----------------------------- *ngFor --------------------------------->
<div class="container">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let course of courses index as i">
            <b>{{i+1}}.</b>
            {{course}}
        </li>
    </ul>
</div>