<!-- <h2>{{title}}</h2> -->

<!------------------------------------------------ *ngIf --------------------------------------------------------->
<!-- <div *ngIf="courses.length>0;then coursesList else noCourses"></div>
<ng-template #coursesList>
<ul>
    <li *ngFor="let course of courses">{{course}}</li>
</ul>
</ng-template>
<ng-template #noCourses>
    No courses yet.
</ng-template> -->

<!------------------------------------------------ Hidden property --------------------------------------------------------->

<!-- <div [hidden]="courses.length==0">
    <ul>
        <li *ngFor="let course of courses">{{course}}</li>
    </ul>
</div>
<div [hidden]="courses.length>0">
    No courses yet.
</div> -->

<!----------------------------- Switch Case : *ngSwitchCase --------------------------------->
<div class="container">
     <ul class="nav nav-tabs">
        <li class="nav-item">
            <a (click)="viewMode='list'" class="nav-link" [class.active]="viewMode=='list'">List
                View
            </a>
        </li>
        <li class="nav-item">
            <a (click)="viewMode='map'" class="nav-link" [class.active]="viewMode=='map'">
                Map View
            </a>
        </li>
    </ul>
    <div [ngSwitch]="viewMode">
        <div *ngSwitchCase="'list'">
            <!-- List View -->
            <div class="list-view">
                <!-- <ul class="list-group">
                    <li class="list-group-item" *ngFor="let course of courses index as i">
                        <b>{{i+1}}.</b>
                        {{course}}
                    </li>
                </ul> -->
                <div class="list-group" *ngFor="let course of courses index as i">
                    <div class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1" [routerLink]="['/courses',course.id]">{{course.title}}</h5>
                            <!-- <p class="mb-1">{{course.summary}}</p> -->
                            <app-favourite [isLike]="courseDetails?.is_wishlisted"></app-favourite>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'map'">
            <!-- Map View -->
            <div class="map-view">
                <div class="card" *ngFor="let course of courses index as i">
                    <div class="card-body">
                        <h5 class="card-title" [routerLink]="['/courses',course.id]">{{course.title}}</h5>
                        <app-favourite [isLike]="courseDetails?.is_wishlisted"></app-favourite>
                    </div>
                    <div class="card-footer text-muted">
                        Created date: <a class="card-link">{{course.created | date}}</a>
                        <!-- <a class="card-link">{{course.last_update_date | date}}</a> -->
                    </div>
                  </div>
            </div>
        </div>
        <div *ngDefaultCase>
            Otherwise
        </div>
    </div>
</div>

<!----------------------------- *ngFor --------------------------------->
<!-- <div class="container">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let course of courses index as i">
            <b>{{i+1}}.</b>
            {{course}}
        </li>
    </ul>
</div> -->