legend {
    border-style: none;
    border-width: 0;
    font-size: 14px;
    line-height: 40px;
    margin-bottom: 0;
    width: auto;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
}
fieldset {
    border: 1px solid #e0e0e0;
    padding: 10px;
    margin:10px 0px;
}